.header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    img{
        width: 2em;
        margin: 0 2em;
        cursor: pointer;
        // color: pink;
        // &:hover {
        //     background-color: #e01a3b;
        //     color: grey;
        // }
    }
}
